<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1068618971436-dt444dr3s4ii4luume22vbdm0c39avdk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1068618971436-dt444dr3s4ii4luume22vbdm0c39avdk</string>
	<key>API_KEY</key>
	<string>AIzaSyDZMSFotl6mdvMtOf2x01ZE0za7eSu-HOc</string>
	<key>GCM_SENDER_ID</key>
	<string>1068618971436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MichaelHardin.Welcome-To-Jackson</string>
	<key>PROJECT_ID</key>
	<string>admob-app-id-7147809596</string>
	<key>STORAGE_BUCKET</key>
	<string>admob-app-id-7147809596.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068618971436:ios:530fc518d31e7942</string>
	<key>DATABASE_URL</key>
	<string>https://admob-app-id-7147809596.firebaseio.com</string>
</dict>
</plist>